@page
@using Articles
@model Articles.AddModel
@{
    ViewData["Title"] = "Add";
}

<html>
<head>
    <style>

        .image-preview-input {
            position: relative;
            overflow: hidden;
            margin: 0px;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

            .image-preview-input input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

        .image-preview-input-title {
            margin-left: 2px;
        }


        .btn {
            width: 100px;
            height: 30px;
            border-radius: 2px;
            background-color: #c80000;
            color: #fff;
            border: 0;
            cursor: pointer;
            margin-top: 20px;
        }

        .frm > div {
            margin-bottom: 10px;
        }

        .error {
            border: 1px solid #c80000;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>TinyMCE Example</title>
    <!-- TinyMCE Script Reference -->
    <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script>
        tinymce.init({
            selector: "textarea#elm1",
            theme: "modern",
            width: 'auto',
            height: 300,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],

            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [
                { title: 'Bold text', inline: 'b' },
                { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                { title: 'Example 1', inline: 'span', classes: 'example1' },
                { title: 'Example 2', inline: 'span', classes: 'example2' },
                { title: 'Table styles' },
                { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ]
        });
    </script>
</head>
<body>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <form asp-page="./Articles/Add" method="post" id="test" class="upload-form" enctype="multipart/form-data">
        <div class="form-actions no-color">
            <script>
                var jquery = jQuery.noConflict();
                jquery(document).ready(function () {
                    jquery('.js-example-basic-multiple').select2({
                        placeholder: "Select Tags...",
                        allowClear: false
                    });
                    //jquery('.js-example-basic-single').select2({
                    //    placeholder: "Select Category...",
                    //    allowClear: false
                    //});

                });
            </script>
            <script>
                var jquery = jQuery.noConflict();
                jquery(document).ready(function () {

                    jquery('.s1').select2({
                        placeholder: 'Select category'
                    })
                    jquery('.s2').select2({
                        placeholder: 'Select tags'
                    })

                    jquery.validator.setDefaults({
                        ignore: []
                    });

                    jquery('#test').validate({
                        errorElement: 'span',
                        errorClass: 'error',
                        rules: {
                            category: 'required',
                            selectedTags: 'required',
                            title: 'required',
                            content: 'required'
                        },

                        highlight: function (element, errorClass, validClass) {

                            var elem = jquery(element);

                            if (elem.hasClass('s-select2')) {
                                var isMulti = (!!elem.attr('multiple')) ? 's' : '';
                                elem.siblings('.sl').find('.select2-choice' + isMulti + '').addClass(errorClass);
                            } else {
                                elem.addClass(errorClass);
                            }

                        },
                        unhighlight: function (element, errorClass, validClass) {
                            var elem = $(element);

                            elem.removeClass(errorClass);
                        }
                    });

                    jquery('select').on('change', function () {
                        jquery(this).valid();
                    });

                });
            </script>

            <b>Title: </b><input asp-for="Article.Title" name="title" />
            <span asp-validation-for="Article.Title" class="text-danger" />
            <textarea asp-for="Article.Content" id="elm1" name="content"></textarea>
            <span asp-validation-for="Article.Content" class="text-danger" />
            <div class="row">
                @if (!Model.Editing || Model.Article.Status.Status == "NotSubmitted")
                {
                    <select asp-items="@Model.Filter.Categories" asp-for="Article.Category.Id" id="singleselect" name="category" class="s1" style="width:50%"><option></option></select>
                    <br/>
                }
                @if (Model.Editing)
                {
                    <input type="hidden" asp-for="Article.TextId" />
                }

                <select asp-items="@Model.Filter.Tags" name="selectedTags" class="s2" id="multipleselect" multiple="multiple" style="float:right; width:49%"></select>

            </div>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <!-- image-preview-filename input [CUT FROM HERE]-->
                        <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->

                            <span class="input-group-btn">
                                <!-- image-preview-clear button -->
                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                </button>
                                <!-- image-preview-input -->

                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Browse</span>
                                    <input type="file" accept="image/png, image/jpeg, image/gif" class="upload-f" data-max-size="2048" name="avatar" /> <!-- rename it -->

                                </div>
                            </span>
                        </div><!-- /input-group image-preview [TO HERE]-->
                        <p class="small">The maximum dimensions are 300 height and 300 width.</p>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" asp-route-submit="0" class="btn btn-default" />
            <input type="submit" value="Publish" asp-route-submit="1" class="btn btn-default" />
            <button class="btn">Submit</button>

        </div>
    </form>

    


    <script>
        $(document).on('click', '#close-preview', function () {
            $('.image-preview').popover('hide');
            // Hover befor close the preview
            $('.image-preview').hover(
                function () {
                    $('.image-preview').popover('show');
                },
                function () {
                    $('.image-preview').popover('hide');
                }
            );
        });


        $(function () {
            // Create the close button
            var closebtn = $('<button/>', {
                type: "button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;',
            });
            closebtn.attr("class", "close pull-right");
            // Set the popover default content
            $('.image-preview').popover({
                trigger: 'manual',
                html: true,
                title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
                content: "There's no image",
                placement: 'bottom'
            });
            // Clear event
            $('.image-preview-clear').click(function () {
                $('.image-preview').attr("data-content", "").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse");
            });
            // Create the preview image
            $(".image-preview-input input:file").change(function () {
                var img = $('<img/>', {
                    id: 'dynamic',
                    width: 250,
                    height: 200
                });
                var file = this.files[0];
                var reader = new FileReader();
                // Set preview image into the popover data-content
                reader.onload = function (e) {
                    $(".image-preview-input-title").text("Change");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
                }
                reader.readAsDataURL(file);
            });
        });
    </script>



</body>
</html>


<!-- /TinyMCE -->
<!-- This will contain your HtmlContent and use the TinyMCE editor-->
