@page
@model Wiki.Web.Pages.ArticlesLinkListModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArticlesLinkList</title>
</head>
<body>
</body>
</html>
