@page
@{
    ViewData["Title"] = "test";
}

<style>
    .iconDetails {
        margin-left: 2%;
        float: left;
        height: 150px;
        width: 150px;
    }

    .container2 {
        width: 100%;
        height: auto;
        padding: 1%;
    }

    h4 {
        margin: 0px;
    }

</style>

<div class='container2' onclick="location.href='#';" style="cursor: pointer;">
    <div>
        <img src='http://firmowo.com/wp-content/uploads/2014/01/Ma%C5%82y-G%C5%82%C3%B3d.png' class='iconDetails'>
    </div>
    <div style='margin-left:60px; margin-top: 60px'>
        <h1>Facebook</h1>
    </div>
</div>


<!--

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    var jquery = jQuery.noConflict();
    jquery(document).ready(function () {
        jquery('.js-example-basic-multiple').select2();
    });
</script>

<se
    lect class="js-example-basic-multiple" name="states[]" multiple="multiple">
    <option value="AL">Alabama</option>
    ...
    <option value="WY">Wyoming</option>
</select>




<script>
    tinymce.init({
        selector: "textarea#elm1",
        theme: "modern",
        width: 500,
        height: 300,
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor"
        ],
        content_css: "css/content.css",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
        style_formats: [
            { title: 'Bold text', inline: 'b' },
            { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            { title: 'Example 1', inline: 'span', classes: 'example1' },
            { title: 'Example 2', inline: 'span', classes: 'example2' },
            { title: 'Table styles' },
            { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ]
    });
</script>
<body>
<textarea id="elm1" name="area"></textarea>
</body>-->
